



/* 快捷菜单样式 */
#caidan {
    position: absolute;
    /* background-color: #af9c9c; */
    padding: 5px;
    /* border: 1px solid #ccc; */
    /* cursor: pointer; */
    color: white;

    box-shadow: #00000080 0 10px 30px;

    z-index: 9999;
    border-radius: 3px;
    padding: 5px 4px;
    background-color: #0b0b0bcc;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(11, 11, 11, .2);

}

/* 导航栏样式 */
#daohanglan {
    background-color: lightgrey;
    color: rgb(7, 121, 64);
    font-size: 15px;
    font-family: consolas;
    /* position: fixed; */
    position: absolute;
    /* left: 0; */
    /* height: 100%; */
    /* height: 40px; */
    max-width: 50%;
    z-index: 5000;
    text-align: left;
    border-radius: 5px;
     /* 添加粗边框 */
     border-width: 1px; /* 设置边框宽度 */
     border-style: solid; /* 设置边框样式为实线 */
     border-color: rgb(129, 71, 71); /* 设置边框颜色为黑色 */
     padding: 5px; /* 为上、下、左、右都设置10像素的内边距 */
    
    
}




/* 提示样式 */
#show {
    color:green;
    font-size: 12px;
    /* display: block; */
}

/* 快捷菜单悬浮 */
#myTable td:hover {
    background-color: lightgrey;
    border-radius: 2px;
    margin: 4px 0;
}


/* 隐藏类 */
.hidden {
    display: none;
    
}

/* 位置切换类 */

/* 按钮样式设置 */
#cebianlan_Button {
    /* 按钮的高度为50像素 */
    /* height: 50px; */
    background-color: rgb(221, 202, 177);
    border-radius: 10px 0 0 10px;
    font-size: larger;
    z-index: 1200;
}

/* 按钮悬停时的样式设置 */
#cebianlan_Button:hover {
    background-color: rgb(247, 163, 7);
    /* 当鼠标悬停时，按钮的背景颜色变为红色 */
}




 /* 悬浮窗  样式表 */
 .floating-window {
    position: fixed;
    top: 30%; /* 调整初始位置 */
    left: 3px; /* 调整初始位置 */
    width: 350px;
    /* height: 200px; */
    border: 2px solid #7d7e80;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
    background-color: rgb(222, 224, 228);
    font-family: 'consolas';
    overflow: hidden; /* 超出部分隐藏 */
}

.title-bar {
    background-color: #6792c4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: move;
    font-weight: bolder;
    font-family: 'consolas';
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
   
}


/* 侧边栏按钮 */
#cebianlan {
    position: fixed;
    right: 5%;
    bottom: 70%;
    z-index: 2000;
}

/* 去掉列表项的默认黑点 */
ul {
    list-style-type: none;
    padding: 0;
}
.yuananniu {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #6792c4;
    font-size: x-large;
    /* font-weight: bold; */
    color: brown;
    
    background-color: rgba(211, 211, 211, 0.445);
    display: flex;
    /* 设置为flex布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}
.yuananniu:hover {
    transform: scale(1.2);
    background-color: lightgray;
}

.dropdown-menu {
    position: absolute;
    z-index: 2000;
    top: 100%;
    left: 0;
    width: 120px;
    background-color: #ffffff80;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.yuananniu:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: small;
}

.dropdown-item:hover {
    background-color: lightgray;
}


