.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 16px;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    /* left: 4px; */
    /* bottom: 4px; */
    background-color: white;
    transition: .4s;
    border-radius: 16px;
}

input:checked + .slider {
    background-color: #2196F3;
    border-radius: 16px;
   
}

input:checked + .slider:before {
    transform: translateX(26px);
}



/* 另一个功能区  单选按钮  */


.div_kaiguan {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

.span_kaiguan {
    font-size:large;
}